table inet nat {
    chain prerouting {
        type nat hook prerouting priority dstnat;

{% for rule in nftables_dstnat_rules %}
        {{ rule }}
{% endfor %}
    }

    chain postrouting {
        type nat hook postrouting priority srcnat;

{% for rule in nftables_srcnat_rules %}
        {{ rule }}
{% endfor %}
    }
}
